/* Import the font - only two possibilities: normal and bold */
@font-face {
    font-family:"FuzzyBubbles";
    src: url("../assets/FuzzyBubbles-Regular.ttf") format("truetype");
}

@font-face {
    font-family:"FuzzyBubbles";
    src: url("../assets/FuzzyBubbles-Bold.ttf") format("truetype");
    font-weight: bold;
}

/* Default styles - set font, no padding, no margin */
body,html {
    margin: 0;
    padding: 0;
    font-family: FuzzyBubbles, serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

/* Size of the background image */

.background-image {
    width: 100vw;
    height: 100vh;
}

/* Application container */

#app-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0.1em;
    color: #4b5563;
    font-weight: bold;
}

/* Footer */

.bottom-container {
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}

.bottom-container p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.1em;
}